body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans", Arial;
  margin: 0;
  padding: 0; 
}

div.chat_wrap {
  bottom: 0;
  display: block;
  font-size: .85em;
  position: fixed;
  right: 0rem;
  width: 250px;
}

div.chat_wrap > div.toggle {
  background: rgb(250,250,250);
  background: linear-gradient(to bottom, rgb(250,250,250) 0%,rgb(240,240,240) 100%);
  border: 1px solid rgba(0,0,0,.1);
  color: rgba(0,0,0,.4);
  display: none;
  font-weight: bold;
  padding: .45rem 0;
  text-align: center;
}

.toggle:hover {
  cursor: pointer;  
}

div.chat {
  display: block; 
}

div.chat > header {
  background-color: rgb(76, 102, 164);
  background: linear-gradient(to bottom, rgba(76,102,164,1) 0%,rgba(62,77,132,1) 100%);
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px 2px 0 0;
  display: block;
  line-height: 2.25rem;
}

  div.chat > header > h3 {
    color: rgb(255,255,255);
    display:block;
    margin: 0;
    padding: 0; 
    text-align: center;
  }

div.chat > div.chatArea {
  background: rgb(250,250,250);
  border: 1px solid rgba(0,0,0,.1);
  border-top: none;
  display: block;
  height: 250px;
  font-size: .9em;
  overflow: auto;
  padding: .25rem .65rem;
  visibility: visible;
}

  div.chat > div.chatArea > ul {
    list-style-type: none;  
  }
  
    div.chat > div.chatArea > ul > li {
      padding: 0 0 .45rem;
    }
    
      div.chat > div.chatArea > ul > li.time {
        color: rgba(0,0,0,.35);
        font-size: .85em;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
      }
  
div.chat input {
  border: none;
  border: 1px solid rgba(0,0,0,.1);
  border-top: none;
  display: block;
  padding: .35rem .5rem;
  width: 100%;  
}

body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;

}

.portfolio {
  /*overflow-y:scroll;
   height:600px;
   display:block;*/
 
}


tr:nth-child(odd)   { background-color:#eee; }
tr:nth-child(even)  { background-color:#fff; }

tr:hover            { background-color: #ffff99;}


.messagebox {
    resize: none;
    width: 250px;
}

h4.nowrap { 
  white-space: nowrap; 
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

